.tetris {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .title {
      font-size: 1.25em;
    }

    .description {
      font-size: 0.675em;
    }
  }

  .game {
    flex-grow: 1;
    border: 1px solid #323742;
    background-color: #00000030;
    width: 10em;
    height: 20em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);

    div {
      border: 1px solid #323742;

      &.green {
        background-color: green;
      }
      &.red {
        background-color: red;
      }
      &.yellow {
        background-color: yellow;
      }
      &.purple {
        background-color: purple;
      }
      &.orange {
        background-color: orange;
      }
      &.blue {
        background-color: blue;
      }
    }
  }
}
